langchain==0.3.30
langchain-community==0.3.31
langchain-openai==0.3.35
langchain-chroma==0.2.6
langchain-text-splitters==0.3.11
openai
chromadb
pypdf
fastapi
uvicorn
python-multipart
python-dotenv
tiktoken